<h1>Restaurants#index</h1>
<p>Find me in app/views/restaurants/index.html.erb</p>

<h2>These are all <%= @restaurants.count %> restaurants in yoru db</h2>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <% end %>
</ul>

<%= link_to 'Add a restaurant', new_restaurant_path %>
